/* font-family: 'Architects Daughter', cursive;
font-family: 'Indie Flower', cursive; */

/* 
#98ddca
#d5ecc2
#ffd3b4
#ffaaa7 */

/* #f39189 #bb8082 #6e7582 #046582  */

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }

.h2{
    font-family: "Indie Flower", cursive;
    font-size: 3.0rem;
    line-height: 1.5;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 30px;
    padding-top: 50px;

    color: aqua;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  body  {
    background-image: url("paper.gif");
    background-color: #cccccc;
  }